@using track_api.Controllers;
@using track_api.Models;
@{
    int lastId = Int32.Parse(ViewData["lastId"].ToString());

    foreach (Dataset ds in new DatasetsController().GetDatasets().ToList())
    {
        <option value="@ds.Id" @((ds.Id == lastId) ? "selected=\"selected\"" : "")>@ds.Label</option>
    }
}