
<div class="row">

    <div class="col-12">

        <!-- Edit Dataset ------------------------------- -->
        <h5>Edit Dataset</h5>
        <form id="editDataset">

            <div class="form-row mb-3">
                <div class="col-6 col-md-4">
                    <label>Label</label>
                    <input type="text" class="form-control" id="edit-datasetLabel" value="@Model.Label" />
                </div>
            </div>

            <h6>Properties</h6>
            <div class="form-props">
                @{
                    int i = 0;
                    foreach (var series in Model.getSeries())
                    {
                        <div class="form-row">
                            <div class="form-group col-6 col-md-4">
                                <input type="text" class="form-control" id="edit-label-@i" value="@series.Label">
                            </div>
                            <div class="form-group col-4 col-md-3">
                                <span>#</span>&nbsp;<input type="text" class="form-control" id="edit-color-@i" value="@series.Color" />
                            </div>
                            <div class="form-group col-1">
                                <div class="form-control" id="color-@i" style="background-color:#@series.Color"></div>
                            </div>
                            <span><strong></strong></span>
                        </div>
                        i++;
                    }
                }

            </div>
        </form>
    </div>

</div>

<script src="~/Scripts/views/editdataset.js"></script>