.select-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ccc;
}

.select-label {
  color: #999;
}

.select-badge {
  background-color: #ebecf0;
  border-radius: 2em;
  color: #888;
  display: inline-block;
  font-size: 10;
  font-weight: bold;
  line-height: 1;
  min-width: 1;
  padding: 0.25em 0.7em;
  text-align: center;
}
