<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModelContextCreated" connectionString="data source=18.223.218.151,49170;initial catalog=trackNew;persist security info=True;user id=dev;password=dontdoit;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ModelContext" connectionString="data source=localhost;initial catalog=trackOrig;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>