.picker-container {
  position: absolute;
  // right: 0;
  top: 36px;
  z-index: 1;

  // compact-picker
  > div {
    padding: 3px;

    > div:first-child {
      border: 1px solid #ced4da;
      border-radius: 0.25rem !important;
    }
  }
}

.compact-picker {
  > div > span > div {
    border-radius: 2px;
  }

  .flexbox-fix {
    div:first-child {
      display: none;
    }
    span {
      top: 5px !important;
    }

    div:nth-child(2) input {
      margin-left: 0px;
    }

    input {
      border: 1px solid #e0e0e0 !important;
      border-radius: 2px;
      padding: 0 2px !important;
      margin-left: 11px;
      height: 17px !important;
      width: 65% !important;
    }
  }
}

.color-picker {
  position: relative;
  min-width: 23px;

  .input-container {
    max-height: 60%;
    transform: translateY(35%);
  }

  > input {
    cursor: pointer;
  }

  .block-picker {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px !important;
  }

  .twitter-picker {
    border: 1px solid #ced4da !important;
    box-shadow: $picker-box-shadow !important;
    width: 278px !important;
  }
}
