$input-transition: opacity 0.3s;
$pending-row-opacity: 0.5;

// .col,
// .col-md-6,
[class*="col"] {
  &.flex {
    display: flex;

    .form-control {
      margin-right: 1rem;
    }

    .btn {
      // margin-left: 1rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

form {
  margin-bottom: 1rem;

  .form-group {
    margin-bottom: 1rem;
  }

  .color {
    display: inline-block;
    background-color: var(--red);
    border-radius: 2px;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.5em;

    & + .custom-control {
      display: inline-block;
    }
  }

  // Checkboxes
  .custom-control {
    input,
    label {
      cursor: pointer;
    }

    // Bootstrap Override
    &.custom-checkbox {
      label {
        background: none;
      } 
    }
  }

  // .form-label, input {
  //   cursor: pointer;
  // }

  input,
  select {
    transition: $input-transition;
  }

  /* Dataset Form */
  &.form-dataset {
    //  Private/Public Switch
    .check-private {
      margin-left: 0.4rem;
    }

    // Inactive
    .hidden-link-container {
      color: grey;
      cursor: pointer;
      display: flex;
      align-items: center;
      opacity: 0.5;
      transition: opacity 300ms;
      margin-right: 0.8rem;

      &:hover {
        opacity: 1;
      }

      h6 {
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      hr {
        flex-grow: 1;
        margin-left: 1rem;
        margin-right: 1rem;
        border-top-color: grey;
        opacity: 0.4;
      }

      .icon {
        opacity: 1;
      }
    }

    // Only series type select (for now)
    select {
      width: auto;
    }

    .color-picker {
      min-width: 23px;
      margin: 0 0.5rem;

      // &:hover {
      //   .input-container {
      //     min-width: 30px;
      //     max-height: 80%;
      //     transform: translateY(4px);
      //   }
      // }

      .input-container {
        transition: all 300ms;
        border-radius: 0.25rem;
        overflow: hidden;
        max-height: 60%;
        transform: translateY(35%);
      }

      input[type="color"] {
        cursor: pointer;
        -webkit-appearance: none;
        border: none;
        margin: 0;
        padding: 0;
      }
      input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      input[type="color"]::-webkit-color-swatch {
        border: none;
      }
    }

    // Icons
    .series.btn-link {
      width: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Add series
    .btn.add {
      .icon {
        margin-right: 0.5rem;
      }

      // hack for icon in button
      &:hover {
        .icon {
          color: var(--green);
          opacity: 1;
        }
      }
    }
  }
}

.dataset-label-container {
  display: flex;
  justify-content: space-between;
}
