$input-transition: opacity 0.3s;
$pending-row-opacity: 0.5;

// .col,
// .col-md-6,
[class*="col"] {
  &.flex {
    display: flex;

    .form-control {
      margin-right: 1rem;
    }

    .color-picker {
      width: 100%;
    }

    .btn {
      // margin-left: 1rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

form {
  margin-bottom: 1rem;

  .color {
    display: inline-block;
    background-color: var(--red);
    border-radius: 2px;
    height: 0.8em;
    width: 0.8em;
    margin-right: 0.5em;

    & + .custom-control {
      display: inline-block;
    }
  }

  // Checkboxes
  .custom-control {
    input,
    label {
      cursor: pointer;
    }
  }

  // .form-label, input {
  //   cursor: pointer;
  // }

  input,
  select {
    transition: $input-transition;
  }

  /* Dataset Form */
  &.form-dataset {
    //  Private/Public Switch
    .check-private {
      margin-left: 0.4rem;
    }

    // Pending series row
    .pending {
      opacity: $pending-row-opacity;

      &:focus {
        opacity: 1;
      }
    }

    // Only series type select (for now)
    select {
      width: auto;
    }

    // Add series
    .btn.add {
      .icon {
        margin-right: 0.5rem;
      }

      // hack for icon in button
      &:hover {
        .icon {
          color: var(--green);
          opacity: 1;
        }
      }
    }
  }
}

.dataset-label-container {
  display: flex;
  justify-content: space-between;
}
