.label-container {
  position: absolute;
  top: 0;
  background: white;

  // TODO: hack
  width: 74px;
  left: -20px;
  padding-left: 30px;

  svg {
    overflow: visible;
  }
}
svg.ct-chart-line.frequency {
  overflow: visible;
}
