nav.navbar {

  .navbar-nav {
    align-items: center;

    .nav-link {
      color: rgba(255, 255, 255, 0.3);

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  button.login {
    color: $white;
  }

  button.logout:not(:hover) {
    color: #999;
  }

  .dropdown-menu {
    left: unset;
    right: 0;
  }

  .spinner-container {
    margin: 0 1rem;
  }

}
