$table-row-background-color: $white;
$table-row-odd-background-color: rgb(242, 242, 242);

$table-row-active-background-color: rgb(229, 242, 255);
$table-row-active-border-color: #80bdff;
$table-row-active-highlight: rgba(0, 123, 255, 0.25);

$table-row-active-odd-background-color: rgb(212, 225, 238);

.table-container {
  overflow-y: auto;

  @include scrollbar;
}

.table-tab {
  overflow: hidden;

  &.active {
    display: flex;
    flex-direction: column;
  }

  .table {
    border-collapse: unset;
    border-spacing: 0;

    tr:nth-of-type(odd) {
      td {
        &:first-child {
          background: $table-row-odd-background-color;
        }
      }
    }

    th,
    td {
      transition: background-color 50ms;

      /* Frequency Series */
      &.freq {
        text-align: center;
        // vertical-align: middle;
      }

      &:first-child {
        position: sticky;
        left: 0;

        background: $table-row-background-color;
      }
    }

    th {
      position: sticky;
      top: 0;
      z-index: $z-index-table-header;

      background: $table-row-background-color;
      font-weight: normal;

      &:first-child {
        z-index: $z-index-table-header-sticky-col;
      }
    }

    td:first-child {
      z-index: $z-index-table-sticky-col;
    }

    tbody {
      tr {
        cursor: pointer;
        transition: all 200ms;

        &:first-child {
          td {
            border-top: none;
          }
        }

        &.active {
          position: relative;

          // &:first-child::after {
          //   box-shadow: 0 -0.6px 0 0.25rem $table-row-active-highlight;
          // }

          &::after {
            content: '';
            position: absolute;
            z-index: $z-index-table-highlight;

            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 0 0.2rem $table-row-active-highlight;
          }

          td {
            background-color: $table-row-active-background-color;
            border-bottom: 1px solid $table-row-active-border-color;
            border-top-color: $table-row-active-border-color;
          }

          &:nth-of-type(odd) td {
            background-color: $table-row-active-odd-background-color;
          }

          & + tr {
            td {
              border-top: none;
            }
          }
        }
      }
    }
  }
}
