.nav-tabs {
  justify-content: flex-end;
}

.tab-content {
  position: relative;
  margin-bottom: 1rem;
}

.record-actions {
  display: flex;
  justify-content: flex-end;

  max-height: 0;
  overflow: hidden;

  button {
    opacity: 0.4;
    transition: opacity 200ms;
  }

  &.active button {
    opacity: 1;
  }

  button {
    margin-right: 0.5em;
  }
}
