.table-container {
  overflow-y: auto;

  @include scrollbar;
}

.table-tab {
  overflow: hidden;

  &.active {
    display: flex;
    flex-direction: column;
  }

  .table {
    border-collapse: unset;
    border-spacing: 0;

    th {
      position: sticky;
      top: 0;

      background: $white;
      font-weight: normal;
    }

    tbody {
      tr {
        cursor: pointer;
        transition: all 200ms;

        &:first-child {
          td {
            border-top: none;
          }
        }

        &.active {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }

          td {
            background-color: rgba(0, 123, 255, 0.075);
            border-bottom: 1px solid #80bdff;
            border-top-color: #80bdff;
          }

          &:first-child::after {
            box-shadow: 0 -0.6px 0 0.25rem rgba(0, 123, 255, 0.25);
          }

          & + tr {
            td {
              border-top: none;
            }
          }
        }
      }
    }
  }
}
