$dataset-select-min-width: 200px;

.select {
  width: 100%; //$dataset-select-min-width;
  margin-right: 0.75rem;

  .group-heading-wrapper {
    cursor: pointer;
  }

  .collapsed {
    display: none;
  }
}

.toolbar {
  display: flex;
  margin-bottom: 0; // TODO: switch from Form.Control
  height: 100%;

  .toolbar-left,
  .toolbar-right {
    display: flex;
  }

  .toolbar-left {
    align-items: center;
  }

  .toolbar-right {
    margin-left: auto;
    align-items: stretch;
  }

  .divider {
    border: 1px solid rgb(232, 232, 232);
    margin: 10px 0.75rem 8px;
  }

  a.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem;
    cursor: pointer;

    span {
      color: grey;
    }

    // &.active,
    &.disabled {
      cursor: default;
    }

    &.active {
      .icon {
        opacity: 0.7;
        transform: $icon-scale-large;

        &:hover {
          opacity: 1;
        }

        &.create {
          color: var(--green);
        }
      }
    }

    &.disabled {
      .icon {
        opacity: $icon-disabled-opacity;
      }
    }
  }

  .icon {
    margin: 0 0.5rem;

    &:not(:hover) {
      &.delete {
        opacity: .25;
      }
    }

    &:hover:not(.disabled) {
      &.create,
      &.save {
        color: var(--green);
      }
      &.cancel,
      &.delete {
        color: var(--red);
      }
    }
  }
}
