$dataset-select-min-width: 100px;

.toolbar {
  display: flex;
  margin-bottom: 0; // TODO: switch from Form.Control

  .toolbar-left,
  .toolbar-right {
    display: flex;
    align-items: stretch;
  }

  .toolbar-right {
    margin-left: auto;
  }

  select {
    width: auto;
    margin-right: 0.6rem;
    min-width: $dataset-select-min-width;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .divider {
    border: 1px solid rgb(232, 232, 232);
    margin: 10px 0.5rem 8px;
  }

  .icon {
    margin: 0 0.5rem;

    &:hover:not(.disabled) {
      
      &.create,
      &.save {
        color: var(--green);
      }
      &.cancel,
      &.delete {
        color: var(--red);
      }
    }
  }
}
