/* Colors */
$white: #fff;

/* Bootstrap */
$bs-primary: #007bff;
$bs-secondary: #6c757d;

/* Pickers */
$picker-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;

/* Toolbar */
$dataset-select-min-width: 100px;