@import 'vars';
@import 'icon';
@import 'forms';

@import 'navbar';
@import 'toolbar';
@import 'modal';
@import 'tabs';

@import 'login';

@import 'graph';
@import 'table';

@import 'colorpicker';
@import 'datetimepicker';

/* Dev */
@import 'dev/create-record';

html,
body {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
